body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    font-family: "Roboto";
    background-color: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul{
    display: flex;
    gap: 2em;
}

li{
    list-style-type: none;
    font-size: 1.3em;
}

a {
    color: white;
    text-decoration: none;
}

.section.one {
    background-color: #1F2937;
    font-family: "Roboto";
    color: white;
    display: flex;
}

#placeholder{
    width: 35%;
    height: auto;
}
